In [1]:
!pip install selenium 
!pip install bs4
!pip install requests

Requirement already satisfied: selenium in c:\users\pooja\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pooja\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: outcome in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\pooja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\pooja\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\pooja\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pooja\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pooja\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: bs4 in c:\users\pooja\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\pooja\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\pooja\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\pooja\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\pooja\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pooja\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pooja\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\pooja\anaconda3\lib\site-packages (from requests) (1.26.9)

In [1]:
#************************************
# 1.Most Viewed Youtube Vedios
#************************************

In [2]:
#Libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
import requests

from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException,StaleElementReferenceException

import warnings
warnings.filterwarnings ('ignore')

In [3]:
driver = webdriver.Chrome(r"C:\Users\pooja\chromedriver.exe")

In [4]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [5]:
try:
    Rank=[]
    rank=driver.find_elements(By.XPATH,'//tr/td[1]')
    for x in rank:
        r = (x.text)
        Rank.append(r)
        
    Name=[]
    name=driver.find_elements(By.XPATH,'//tr/td[2]')
    for x in name:
        n = (x.text)
        Name.append(n)



    Artist= []
    artist=driver.find_elements(By.XPATH,'//tr/td[3]')
    for a in artist:
        Artist.append(a.text)

    
    U_date =[]
    date=driver.find_elements(By.XPATH,'//tr/td[5]')
    for x in date:
        d = (x.text)
        U_date.append(d)
        
    Views =[]
    views=driver.find_elements(By.XPATH,'//tr/td[4]')
    for x in views:
        v = (x.text)
        Views.append(v)
        
except NoSuchElementExcetion as e:
    Name.append("-")
    Rank.append("-")
    Artist.append("-")
    U_date.append("-")
    Views.append("-")

In [6]:
Ranks =Rank[1:31]
Names  =Name[1:31]
Artists = Artist[0:30]
Upload_Date = U_date[0:30]
View = Views[0:30]

In [7]:
print (len(Ranks),len(Names),len(Artists),len(Upload_Date),len(View))

30 30 30 30 30

In [8]:
df = pd.DataFrame({'Rank':Ranks,'Name':Names,'Artist':Artists,'Upload Date':Upload_Date,'Views':View})
df

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.13
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.07
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.59
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.96
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.89
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.76
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.12
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.84
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.80
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.79
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.66
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.21
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.81
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.72
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.71
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.71
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.54
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.48
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.44
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.43
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.39
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.37
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.36
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.35
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.32
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.32
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.29
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.26

In [9]:
driver.close()

In [10]:
#****************************************
#2.BCCI.TV
#****************************************

In [11]:
#Libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
import requests

from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException,StaleElementReferenceException,ElementNotInteractableException

import warnings
warnings.filterwarnings ('ignore')

In [12]:
driver = webdriver.Chrome(r"C:\Users\pooja\chromedriver.exe")

In [13]:
driver.get('http://www.bcci.tv/')

In [14]:
try:
    menu=driver.find_element(By.XPATH,"/html/body/nav/div[1]/button")
    menu.click()
except ElementNotInteractableException as e:
    pass

In [15]:
international=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
international.click()

In [16]:
M_Title = []
Series = []
Place = []
Date = []
Time = []




try:

   
       


    mtitle=driver.find_elements(By.XPATH, '//span[@class="matchOrderText ng-binding ng-scope"]')
    for x in mtitle:
        t = (x.text.split("-")[0])
        M_Title.append(t)
            
    series=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for x in series:
        s = (x.text)
        Series.append(s)
                
    place=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
    for x in place:
        p = (x.text.split("-")[1])
        Place.append(p)
    
        
    date=driver.find_elements(By.XPATH ,'//h5[@class="ng-binding"]')
    for x in date:
        d = (x.text)
        Date.append(d)
   
    
    time=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
    for x in time:
        i = (x.text)
        Time.append(i)
                
    
            
except NoSuchElementFound as e:
    M_Title.append("-")
    Series.append("-")
    Place.append("-")
    Date.append("-")
    Time.append("-")

In [17]:
print (len(M_Title),len(Series),len(Place),len(Date),len(Time))

11 11 11 11 11

In [18]:
df = pd.DataFrame({'Match Title':M_Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df

,Match Title,Series,Place,Date,Time
0,1st Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Vidarbha Cricket Association Stadium, Nagpur",9 FEB 2023,9:30 AM IST
1,1st T20I,ICC WOMENS T20 WORLD CUP 2023,"Newlands, Cape Town",12 FEB 2023,6:30 PM IST
2,2nd T20I,ICC WOMENS T20 WORLD CUP 2023,"Newlands, Cape Town",15 FEB 2023,6:30 PM IST
3,2nd Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Arun Jaitley Stadium, Delhi",17 FEB 2023,9:30 AM IST
4,3rd T20I,ICC WOMENS T20 WORLD CUP 2023,"St George's Park, Gqeberha",18 FEB 2023,6:30 PM IST
5,4th T20I,ICC WOMENS T20 WORLD CUP 2023,"St George's Park, Gqeberha",20 FEB 2023,6:30 PM IST
6,3rd Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Himachal Pradesh Cricket Association Stadium,...",1 MAR 2023,9:30 AM IST
7,4th Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Narendra Modi Stadium, Ahmedabad",9 MAR 2023,9:30 AM IST
8,1st ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Wankhede Stadium, Mumbai",17 MAR 2023,1:30 PM IST
9,2nd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,Dr YS Rajasekhara Reddy ACA,19 MAR 2023,1:30 PM IST
10,3rd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"MA Chidambaram Stadium, Chennai",22 MAR 2023,1:30 PM IST

In [19]:
driver.close()

In [20]:
#*****************************************
# 3.State Wise GDP -India
#*****************************************

In [21]:
#Libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
import requests

from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException,StaleElementReferenceException,ElementNotInteractableException

import warnings
warnings.filterwarnings ('ignore')

In [22]:
driver = webdriver.Chrome(r"C:\Users\pooja\chromedriver.exe")

In [23]:
driver.get('http://statisticstimes.com/')

In [24]:
try:
    economy=driver.find_element(By.XPATH,"//html/body/div[2]/div[1]/div[2]/div[2]")
    economy.click()
    india=driver.find_element(By.XPATH,"//html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
    india.click()
except ElementNotInteractableException as e:
    pass

In [25]:
GDP=driver.find_element(By.XPATH,"//html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP.click()

In [26]:
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
Gdp=[]




try:

   
       


    rank=driver.find_elements(By.XPATH, '//table[@id="table_id"]//td[1]')
    for x in rank:
        r = (x.text)
        Rank.append(r)
            
    state=driver.find_elements(By.XPATH,'//table[@id="table_id"]//td[2]')
    for x in state:
        s = (x.text)
        State.append(s)
                
    gsdp1=driver.find_elements(By.XPATH,'//table[@id="table_id"]//td[3]')
    for x in gsdp1:
        g1 = (x.text)
        GSDP1.append(g1)
    
        
    gsdp2=driver.find_elements(By.XPATH ,'//table[@id="table_id"]//td[4]')
    for x in gsdp2:
        g2 = (x.text)
        GSDP2.append(g2)
   
    
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]//td[5]')
    for x in share:
        sh = (x.text)
        Share.append(sh)
        
    gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]//td[6]')
    for x in gdp:
        g = (x.text)
        Gdp.append(g)
                
    
            
except NoSuchElementFound as e:
    Rank.append("-")
    State.append("-")
    GSDP1.append("-")
    GSDP2.append("-")
    Share.append("-")
    Gdp.append("-")

In [27]:
print (len(Rank),len(State),len(GSDP1),len(GSDP2),len(Share),len(Gdp))

34 34 34 34 34 34

In [28]:
df = pd.DataFrame({'Rank':Rank,'State':State,'GSDP(18-19)':GSDP1,'GSDP(19-20)':GSDP2,'Share':Share,'GDP':Gdp})
df

   Rank                      State GSDP(18-19) GSDP(19-20)   Share      GDP
0     1                Maharashtra           -   2,632,792  13.94%  399.921
1     2                 Tamil Nadu   1,845,853   1,630,208   8.63%  247.629
2     3              Uttar Pradesh   1,687,818   1,584,764   8.39%  240.726
3     4                    Gujarat           -   1,502,899   7.96%  228.290
4     5                  Karnataka   1,631,977   1,493,127   7.91%  226.806
5     6                West Bengal   1,253,832   1,089,898   5.77%  165.556
6     7                  Rajasthan   1,020,989     942,586   4.99%  143.179
7     8             Andhra Pradesh     972,782     862,957   4.57%  131.083
8     9                  Telangana     969,604     861,031   4.56%  130.791
9    10             Madhya Pradesh     906,672     809,592   4.29%  122.977
10   11                     Kerala           -     781,653   4.14%  118.733
11   12                      Delhi     856,112     774,870   4.10%  117.703
12   13                    Haryana     831,610     734,163   3.89%  111.519
13   14                      Bihar     611,804     530,363   2.81%   80.562
14   15                     Punjab     574,760     526,376   2.79%   79.957
15   16                     Odisha     521,275     487,805   2.58%   74.098
16   17                      Assam           -     315,881   1.67%   47.982
17   18               Chhattisgarh     329,180     304,063   1.61%   46.187
18   19                  Jharkhand     328,598     297,204   1.57%   45.145
19   20                Uttarakhand           -     245,895   1.30%   37.351
20   21            Jammu & Kashmir           -     155,956   0.83%   23.690
21   22           Himachal Pradesh     165,472     153,845   0.81%   23.369
22   23                        Goa      80,449      73,170   0.39%   11.115
23   24                    Tripura      55,984      49,845   0.26%    7.571
24   25                 Chandigarh           -      42,114   0.22%    6.397
25   26                 Puducherry      38,253      34,433   0.18%    5.230
26   27                  Meghalaya      36,572      33,481   0.18%    5.086
27   28                     Sikkim      32,496      28,723   0.15%    4.363
28   29                    Manipur      31,790      27,870   0.15%    4.233
29   30                   Nagaland           -      27,283   0.14%    4.144
30   31          Arunachal Pradesh           -      24,603   0.13%    3.737
31   32                    Mizoram      26,503      22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands           -           -       -        -
33                           India  20,351,013  18,886,957            2,869

In [29]:
driver.close()

In [1]:
#********************************************
#4.Github - Trending Repositories
#********************************************

In [2]:
#Libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
import requests

from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException,StaleElementReferenceException,ElementNotInteractableException

import warnings
warnings.filterwarnings ('ignore')

In [3]:
driver = webdriver.Chrome(r"C:\Users\pooja\chromedriver.exe")

In [4]:
driver.get('https://github.com/')

In [5]:
try:
    menu=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span")
    menu.click()
except ElementNotInteractableException as e:
    pass

In [6]:
o_source=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
o_source.click()

In [7]:
t_rep=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
t_rep.click()

In [8]:
#Scraping URLs
repo_urls = []

repository = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']//a")

for i in repository:

    repo_urls.append(i.get_attribute("href"))

In [9]:
len(repo_urls)

25

In [10]:
#Scraping data from every repository page
Title=[]
Dcrp =[]
Lang = []
C_Count=[]

for i in repo_urls:

    driver.get(i)

    time.sleep(3)
    
     
    try:
        title=driver.find_element(By.XPATH, '//div[@class=" d-flex flex-wrap flex-items-center wb-break-word f3 text-normal"]')
        t = (title.text)
        Title.append(t)
        
    except NoSuchElementException as e:
        Title.append('-')

   
    try:
        dcrp=driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        d = (dcrp.text)
        Dcrp.append(d)
        
    except NoSuchElementException as e:
        Dcrp.append('-')

    
    try:    
        lang=driver.find_element(By.XPATH ,'//span[@class="color-fg-default text-bold mr-1"]')
        l = (lang.text)
        Lang.append(l)
        
    except NoSuchElementException as e:
        Lang.append('-')
  
      
    Con = []                      
    try:
        ccount = driver.find_elements(By.XPATH,'//a[@class="Link--primary no-underline"]')
        for i in ccount:
            c = (i.text)
            Con.append(c)
        C_Count.append(Con)
           
            

    except NoSuchElementException:
        C_Count.append('-')

In [11]:
Contributors = []

x=0
while x < 25:
    Contributors.append(C_Count[x][-1]) 
    
    x= x+1

C= []
for i in Contributors:
    if 'Contributors' in i:
        C.append(i.strip('Contributors'))
    else:
        C.append('-')
C

[' 25',
 ' 4',
 ' 21',
 ' 940',
 '-',
 ' 59',
 ' 11',
 ' 16',
 ' 2',
 ' 7',
 '-',
 '-',
 '-',
 ' 6',
 ' 2',
 ' 15',
 ' 55',
 ' 34',
 ' 18',
 ' 190',
 ' 73',
 ' 3',
 ' 3',
 ' 3',
 ' 21']

In [12]:
print (len(Title),len(Dcrp),len(Lang),len(C))

25 25 25 25

In [13]:
df = pd.DataFrame({'Title':Title,'Description':Dcrp,'Language':Lang,'Contributors':C})
df

,Title,Description,Language,Contributors
0,fuergaosi233\n/\nwechat-chatgpt\nPublic,Use ChatGPT On Wechat via wechaty,TypeScript,25
1,AutumnWhj\n/\nChatGPT-wechat-bot\nPublic,ChatGPT for wechat https://github.com/AutumnWh...,TypeScript,4
2,motion-canvas\n/\nmotion-canvas\nPublic,Visualize Complex Ideas Programmatically,TypeScript,21
3,TheAlgorithms\n/\nPython\nPublic,All Algorithms implemented in Python,Python,940
4,djun\n/\nwechatbot\nPublic,为个人微信接入ChatGPT,Go,-
5,f\n/\nawesome-chatgpt-prompts\nPublic,This repo includes ChatGPT prompt curation to ...,HTML,59
6,Zero6992\n/\nchatGPT-discord-bot\nPublic template,Integrate ChatGPT into your own discord bot,Python,11
7,acikkaynak\n/\ndeprem-yardim-backend\nPublic a...,afetharita.com backend projesi,Python,16
8,samim23\n/\npolymath\nPublic,Convert any music library into a music product...,Python,2
9,zhayujie\n/\nchatgpt-on-wechat\nPublic,使用ChatGPT搭建微信聊天机器人，基于OpenAI API和itchat实现。Wecha...,Python,7
10,BaRRaKudaRain\n/\nPCem-ROMs\nPublic,This is a collection of requiered ROMs files f...,-,-
11,eliaszon\n/\nProgrammers-Overseas-Job-Intervie...,🏂🏻 程序员海外工作/英文面试手册,-,-
12,AIGCT\n/\nEASYChatGPT\nPublic,"This is an application project of 'chatgpt',on...",Python,-
13,PlexPt\n/\nawesome-chatgpt-prompts-zh\nPublic,ChatGPT 中文调教指南。各种场景使用指南。学习怎么让它听你的话。,-,6
14,houko\n/\nwechatgpt\nPublic,wechatgpt golang版 chatgpt机器人(可docker部署)，目前支持微信...,Go,2
15,lencx\n/\nChatGPT\nPublic,"🔮 ChatGPT Desktop Application (Mac, Windows an...",Rust,15
16,acheong08\n/\nChatGPT\nPublic,Reverse engineered ChatGPT API,Python,55
17,openai\n/\nopenai-cookbook\nPublic,Examples and guides for using the OpenAI API,Jupyter Notebook,34
18,eatmoreapple\n/\nopenwechat\nPublic,golang微信SDK,Go,18
19,cezaraugusto\n/\nYou-Dont-Know-JS\nPublic,📗📒 (PT-Br translation) JS Book Series.,JavaScript,190
20,acikkaynak\n/\ndeprem-yardim-frontend\nPublic,afetharita.com frontend projesi. https://rc.af...,TypeScript,73
21,shajen\n/\nrtl-sdr-scanner-cpp\nPublic,-,C++,3
22,Fndroid\n/\nclash_for_windows_pkg\nPublic,A Windows/macOS GUI based on Clash,-,3
23,kyujin-cho\n/\npixel-volte-patch\nPublic,Rootless replacement for persist.dbg.volte_ava...,Kotlin,3
24,acikkaynak\n/\nyardim-agi-flutter\nPublic,"Bu uygulama, ihtiyaç sahibi depremzedelerin ha...",Dart,21

In [14]:
driver.close()

In [1]:
#****************************************
# 100 Billboard Songs
#****************************************

In [2]:
#Libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
import requests

from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException,StaleElementReferenceException,ElementNotInteractableException

import warnings
warnings.filterwarnings ('ignore')

In [3]:
driver = webdriver.Chrome(r"C:\Users\pooja\chromedriver.exe")

In [4]:
driver.get('https://www.billboard.com/')

In [5]:
try:
    menu=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button")
    menu.click()
except ElementNotInteractableException as e:
    pass

In [6]:
try:
    chart=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/button")
    chart.click()
except ElementNotInteractableException as e:
    pass

In [7]:
hot100=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a")
hot100.click()

In [8]:
Song=[]
Artist =[]
L_rank = []
P_rank=[]
W_chart=[]

try:
    song=driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li/h3')
    for i in song:
        s = (i.text)
        Song.append(s)
        
except NoSuchElementException as e:
    Song.append('-')

try:
    artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
    for i in artist:
        a = (i.text)
        Artist.append(a)
        
except NoSuchElementException as e:
    Artist.append('-')

    
try:    
    lrank=driver.find_elements(By.XPATH ,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
    for i in lrank:
        l = (i.text)
        L_rank.append(l)
        
except NoSuchElementException as e:
    L_rank.append('-')
    
try:    
    prank=driver.find_elements(By.XPATH ,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
    for i in prank:
        p = (i.text)
        P_rank.append(p)
        
except NoSuchElementException as e:
    P_rank.append('-')
    
try:    
    wchart=driver.find_elements(By.XPATH ,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
    for i in wchart:
        c = (i.text)
        W_chart.append(c)
        
except NoSuchElementException as e:
    W_chart.append('-')

In [9]:
print (len(Song),len(Artist),len(L_rank),len(P_rank),len(W_chart))

100 100 100 100 100

In [10]:
df = pd.DataFrame({'Song':Song,'Artist':Artist,'Rank_Last Week':L_rank,'Peak Rank':P_rank,'Weeks on chart':W_chart})
df

,Song,Artist,Rank_Last Week,Peak Rank,Weeks on chart
0,Flowers,Miley Cyrus,1,1,3
1,Kill Bill,SZA,2,2,8
2,Creepin',"Metro Boomin, The Weeknd & 21 Savage",4,3,9
3,Anti-Hero,Taylor Swift,3,1,15
4,Unholy,Sam Smith & Kim Petras,5,1,19
...,...,...,...,...,...
95,Hey Mor,Ozuna Featuring Feid,-,96,1
96,Gato de Noche,Nengo Flow & Bad Bunny,85,60,6
97,Heart To Heart,Mac DeMarco,83,83,3
98,Never Gonna Not Dance Again,P!nk,-,99,1
99,Dancin' In The Country,Tyler Hubbard,-,100,1

In [11]:
driver.close()

In [1]:
#*****************************************
# 6.HighestSelling Novel:- Gaurdian
#*****************************************

In [2]:
#Libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
import requests

from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException,StaleElementReferenceException,ElementNotInteractableException

import warnings
warnings.filterwarnings ('ignore')

In [3]:
driver = webdriver.Chrome(r"C:\Users\pooja\chromedriver.exe")

In [4]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [5]:
Book=[]
Author =[]
Volume = []
Publisher=[]
Genre=[]

try:
    book=driver.find_elements(By.XPATH, '//tbody/tr/td[2]')
    for i in book:
        b = (i.text)
        Book.append(b)
        
except NoSuchElementException as e:
    Book.append('-')

try:
    author=driver.find_elements(By.XPATH,'//tbody/tr/td[3]')
    for i in author:
        a = (i.text)
        Author.append(a)
        
except NoSuchElementException as e:
    Author.append('-')

    
try:    
    volume=driver.find_elements(By.XPATH ,'//tbody/tr/td[4]')
    for i in volume:
        v = (i.text)
        Volume.append(v)
        
except NoSuchElementException as e:
    Volume.append('-')
    
try:    
    publisher=driver.find_elements(By.XPATH ,'//tbody/tr/td[5]')
    for i in publisher:
        p = (i.text)
        Publisher.append(p)
        
except NoSuchElementException as e:
    Publisher.append('-')
    
try:    
    genre=driver.find_elements(By.XPATH ,'//tbody/tr/td[6]')
    for i in genre:
        g = (i.text)
        Genre.append(g)
        
except NoSuchElementException as e:
    Genre.append('-')

In [6]:
print (len(Book),len(Author),len(Volume),len(Publisher),len(Genre))

100 100 100 100 100

In [7]:
df = pd.DataFrame({'Book':Book,'Author':Author,'Volume':Volume,'Publisher':Publisher,'Genre':Genre})
df

,Book,Author,Volume,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [8]:
driver.close()

In [1]:
#**********************************
# IMDB : TV Series
#**********************************

In [2]:
#Libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
import requests

from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException,StaleElementReferenceException,ElementNotInteractableException

import warnings
warnings.filterwarnings ('ignore')

In [3]:
driver = webdriver.Chrome(r"C:\Users\pooja\chromedriver.exe")

In [4]:
driver.get('http://www.imdb.com/list/ls095964455/')

In [5]:
Name =[]
Y_span =[]
Genre = []
Runtime=[]
Ratings=[]
Votes = []

try:
    name=driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]/a')
    for i in name:
        n = (i.text)
        Name.append(n)
        
except NoSuchElementException as e:
    Name.append('-')

try:
    yspan=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
    for i in yspan:
        y = (i.text)
        Y_span.append(y)
        
except NoSuchElementException as e:
    Y_span.append('-')

    
try:    
    genre=driver.find_elements(By.XPATH ,'//span[@class="genre"]')
    for i in genre:
        g = (i.text)
        Genre.append(g)
        
except NoSuchElementException as e:
    Genre.append('-')
    
try:    
    rtime=driver.find_elements(By.XPATH ,'//span[@class="runtime"]')
    for i in rtime:
        r = (i.text)
        Runtime.append(r)
        
except NoSuchElementException as e:
    Runtime.append('-')
    
try:    
    ratings=driver.find_elements(By.XPATH ,'//div[@class="ipl-rating-star small"]/span[2]')
    for i in ratings:
        rs = (i.text)
        Ratings.append(rs)
        
except NoSuchElementException as e:
    Ratings.append('-')
    
try:    
    votes=driver.find_elements(By.NAME ,'nv')
    for i in votes:
        v = (i.text)
        Votes.append(v)
        
except NoSuchElementException as e:
    Votes.append('-')

In [6]:
print (len(Name),len(Y_span),len(Genre),len(Runtime),len(Ratings),len(Votes))

100 100 100 100 100 100

In [7]:
df = pd.DataFrame ({'Name':Name,'Year Span':Y_span,'Genre':Genre,'Runtime':Runtime,'Ratings':Ratings,'Votes':Votes})
df

,Name,Year Span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,122,716"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,210,732"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,006,763"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"297,072"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"256,003"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,725"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,604"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"202,856"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"42,041"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"250,671"

In [8]:
driver.close()

In [1]:
#******************************************
#9. UCI Repositories :Datasets
#******************************************

In [2]:
#Libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
import requests

from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException,StaleElementReferenceException,ElementNotInteractableException

import warnings
warnings.filterwarnings ('ignore')

In [3]:
driver = webdriver.Chrome(r"C:\Users\pooja\chromedriver.exe")

In [4]:
driver.get('https://archive.ics.uci.edu/')

In [5]:
datasets=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
datasets.click()

In [6]:
Name =[]
Type =[]
Task = []
Attribute =[]
No_instances=[]
No_attributes = []
Year = []

try:
    name=driver.find_elements(By.XPATH, '//table/tbody/tr/td[2]/p/b/a')
    for i in name:
        n = (i.text)
        if n == (""):
            Name.append("-")
        else:
            Name.append(n)
        
except NoSuchElementException as e:
    Name.append('-')

try:
    typ=driver.find_elements(By.XPATH,'//table[2]/tbody/tr/td[2]/p')
    for i in typ:
        t = (i.text)
        if t == (" "):
            Type.append("-")
        else:
            Type.append(t)
        
except NoSuchElementException as e:
    Type.append('-')
Type = Type[1:]


    
try:    
    task=driver.find_elements(By.XPATH ,'//tbody/tr/td[3]/p')
    for i in task:
        tk = (i.text)
        if tk == (" "):
            Task.append("-")
        else:
            Task.append(tk)
        
except NoSuchElementException as e:
    Task.append('-')
Task = Task[1:623]
    
try:    
    attribute=driver.find_elements(By.XPATH ,'//tbody/tr/td[4]/p')
    for i in attribute:
        a = (i.text)
        if a == (" "):
            Attribute.append("-")
        else:
            Attribute.append(a)
        
except NoSuchElementException as e:
    Attribute.append('-')
Attribute = Attribute[1:]

try:    
    ninstances=driver.find_elements(By.XPATH ,'//tbody/tr/td[5]/p')
    for i in ninstances:
        ni = (i.text)
        if ni == (" "):
            No_instances.append("-")
        else:
            No_instances.append(ni)
        
except NoSuchElementException as e:
    No_instances.append('-')
No_instances = No_instances[1:]
    
try:    
    nattributes=driver.find_elements(By.XPATH ,'//tbody/tr/td[6]/p')
    for i in nattributes:
        na = (i.text)
        if na == (" "):
            No_attributes.append("-")
        else:
            No_attributes.append(na)

except NoSuchElementException as e:
    No_attributes.append('-')
    
No_attributes = No_attributes[1:]
    
try:    
    year=driver.find_elements(By.XPATH ,'//tbody/tr/td[7]/p')
    for i in year:
        y = (i.text)
        if y == (" "):
            Year.append("-")
        else:
            Year.append(y)
        
except NoSuchElementException as e:
    Year.append('-')
    
Year = Year[1:]

In [7]:
print (len(Name),len(Type),len(Task),len(Attribute),len(No_instances),len(No_attributes),len(Year))

622 622 622 622 622 622 622

In [8]:
df = pd.DataFrame({'Dataset':Name,'Data Type':Type,'Task':Task,'Attribute Type':Attribute,'No. of Instances':No_instances,'No. of Attributes':No_attributes,'Year':Year})
df

,Dataset,Data Type,Task,Attribute Type,No. of Instances,No. of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,-,Classification,-,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [9]:
driver.close()